h1{
    text-align: center;
    font-style: italic;
    background:  rgb(122, 121, 196);
    color: white;
}
button{
    margin-left: 10px;
}
.termsconditions{
    text-align: center;
}
.termsconditions input{
    position: absolute;
}