<h1>Inscription du joueur</h1>
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
	<style>
	  .cascading-right {
		margin-right: -100px;
	  }
  
	  @media (max-width: 991.98px) {
		.cascading-right {
		  margin-right: 0;
		}
	  }
	</style>

	<!-- Jumbotron -->
	<div class="container py-4">
		<div style="position: absolute;">
			<img src="{{ibra}}" style="width: 490px;height: 500px; padding-right: 100px;">	
		</div>
		<div style="position: absolute; margin-left: 65%;">
			<img src="{{figo}}" style="width: 200px;height: 500px;">	
		</div>
	  <div class="row g-0 align-items-center" style="position: relative; margin-left: 50px;">
		<div class="col-lg-6 mb-5 mb-lg-0" style="margin-left: 20%;">	
		  <div class="card cascading-right" style="
			  background: hsla(0, 0%, 100%, 0.55);
			  backdrop-filter: blur(30px);
			  ">
			<div class="card-body p-5 shadow-5 text-center">
			  <h3 class="fw-bold mb-5">Veuillez saisir vos coordonnées</h3>
			  <form>
			  
			   <!-- 2 column grid layout with text inputs for the ID and Team Name -->
			   <div class="row">
				  <div class="col-md-6 mb-4">
					<div class="form-outline">
					  <input type="text" id="inputID" class="form-control" placeholder="Identifiant du Joueur"/>
					</div>
				  </div>
				  <div class="col-md-6 mb-4">
					<div class="form-outline">
					  <input type="text" id="inputTeamName" class="form-control" placeholder="Nom de l'équipe"/>
					</div>
				  </div>
				</div>
				
				
				<!-- 2 column grid layout with text inputs for the first and last names -->
			   <div class="row">
				  <div class="col-md-6 mb-4">
					<div class="form-outline">
					  <input type="text" id="inputName" class="form-control" placeholder="Nom"/>					  
					</div>
				  </div>
				  <div class="col-md-6 mb-4">
					<div class="form-outline">
					  <input type="text" id="inputPrenoun" class="form-control" placeholder="Prénom"/>
					</div>
				  </div>
				</div>
				
				  <!-- 2 column grid layout with text inputs for the position and  -->
			   <div class="row">
				  <div class="col-md-6 mb-4">
					<div class="form-outline">
					  <input type="text" id="inputPoste" class="form-control" placeholder="Poste"/>
					</div>
				  </div>
				  <div class="col-md-6 mb-4">
					<div class="form-outline">
					  <input type="text" id="inputAge" class="form-control" placeholder="Age"/>
					</div>
				  </div>
				</div>
				
				
				<!-- 2 column grid layout with text inputs for the Zip code and The City  -->
				 <div class="row">
				  <div class="col-md-6 mb-4">
					<div class="form-outline">
					  <input type="text" id="inputCodePostal" class="form-control" placeholder="Code postal"/>
					</div>
				  </div>
				  <div class="col-md-6 mb-4">
					<div class="form-outline">
					  <input type="text" id="inputVille" class="form-control" placeholder="Ville"/>
					</div>
				  </div>
				</div>
				
  
				<!-- Email input -->
				<div class="form-outline mb-4">
				  <input type="email" id="inputEmail" class="form-control" placeholder="Address Email"/>
				</div>
				
				<!-- Password input -->
				<div class="form-outline mb-4">
				  <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe"/>
				</div>
				
				<!-- Password confirmation input -->
				<div class="form-outline mb-4">
				  <input type="password" id="inputPassword" class="form-control" placeholder="Confirmez votre mot de passe"/>
				</div>
  
				<!-- Checkbox -->
				<div class="form-check d-flex justify-content-center mb-4" >
				  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked   />
				  <label class="form-check-label" for="form2Example33">
					Subscribe to our newsletter
				  </label>
				</div>
  
				<!-- Submit button -->
				<!-- Question : Ligne 127 - pourquoi le boutton n'a pas marché lorsque j'ai mis le type="submit" ? -->
				<button type="button" class="btn btn-primary btn-block mb-4" onclick="window.location.href = 'monProfil.html';" >
				  Inscription
				</button>
  
				<!-- Register buttons -->
				<div class="text-center">
				  <p>Ou s'inscrire avec:</p>
				  <button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-facebook-f"></i>
				  </button>
  
				  <button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-google"></i>
				  </button>
  
				  <button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-twitter"></i>
				  </button>
				</div>
			  </form>
			</div>
		  </div>
		</div>		
	  </div>
	</div>
	<!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
  