<h1>Espace Tournois</h1>

<div style="display: flex;">
    <div style="width: 15%;">
        <app-sidenavbar></app-sidenavbar>
    </div>

    
    <div style="width: 90%; margin-left: 5px; background-color: rgb(235, 226, 226);">
        <div class="container">
            <h3><u>Classement des meilleurs Passeurs</u></h3>
            <table class="table" *ngIf="passeurs$">
                <thead>
                <tr>
                    <th class="num">#</th>
                    <th class="joueurs">Nom Du Joueur</th>                  
                    <th class="passes" (click)="sort('passes')">Passes&nbsp;<i class="fa fa-sort"></i></th>
                    <th class="mp">MP</th>
                </tr>
                </thead>

                  <!--Best Soccers table - classement -->
                <tbody>
                <tr class="table-success" *ngFor="let ps of passeurs$ |async |orderBy:key:reverse">
                    <td class="num"></td>
                    <td class="joueurs">{{ps.prenom}} {{ps.nom}}</td>
                    <td class="passes">{{ps.passes}}</td>
                    <td class="mp">{{ps.mp}}</td>
                </tr>
               
                </tbody>
            </table>
        </div>
    </div>
</div>
    
