<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">        
                <div class="card-body p-4 text-black">
                    <div class="mb-5">
                        <h2>A propos</h2>
                            <br>
                        <div class="p-4" style="background-color: #f8f9fa; ">
                            <p>
                                Notre site <b>TAKWIRA</b> a été créée en 01/11/2022 
                                par le développeur Full_Stack Karim GUESMI dans le cadre d'un stage Formation
                                au sein de l'entreprise The Bridge:9antra.TN au lac 1, Tunis.
                                Ce site vise tous ceux qui pratiquent le mini-foot en Tunis et veulent faciliter
                                leur processus de réservation des terrains de football et avoir accées à cette 
                                communauté des footballeurs Amateurs Tunisien qui leur permettra l'accés en ligne 
                                sans avoir besoin de contacter les résponsables du terrains par téléphone et
                                perdre du temps a rassembler les joueurs.<br>
                                Notre application vous permet de consulter réguliérement le planning général
                                de tout les terrains dans la zone de votre choix ce qui veut dire que vous
                                aurez une visibilité des horaires des terrains de football occupé et disponibles.
                                Une fois vous avez accompli la réservation, vous aurez un sms de confirmation
                                de votre match de football.<br>
                                Notre application vous permet aussi de consulter la liste de tout nos membres,
                                Tout les terrains disponibles et aussi avoir accés à l'éspace tournois. 
                                Comme vous savez, chaque terrain organise des evennements sportifs. L'espace
                                tournois permet d'organiser les compétitions en inscivant les équipes et les 
                                joueurs participants ainsi de gérer les résultats et le classement général
                                de la compétitions ainsi que le classement des butteurs.                        
                            </p>
                       </div>          
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>