<div class="">
    <section style="height:80px;"></section>
	<div class="row" style="text-align:center;">
		<h2>Takwira</h2>
	</div>
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2>Logo</h2>
                <p>Takwira, c'est une application qui vous permettra de réserver votre terrain de football en quelques clics. 
                    Vous pouvez consulter notre planning général et voir tout les terrains disponibles dans
                    votre région. Vous pouvez aussi voir la liste de tout les joueurs inscri ainsi que la liste de tout les terrains.
                    Il suffit de vous inscrire dans notre site afin de découvrir plus.
                </p>
                <p>© 2022 Karim, All rights reserved</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>Menu —</h4>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Réservation</a></li>
                        <li><a href="#">Planning</a></li>
                        <li><a href="#">Liste des terrains</a></li>
                        <li><a href="#">Liste des joueurs</a></li>
                        <li><a href="#">Espace tournois</a></li>
                        <li><a href="#">Inscription</a></li>
                        <li><a href="#">Connexion</a></li>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">Nous contacter</a></li>
                        <li><a href="#">Termes & Conditions</a></li>
                        <li><a href="#">Réglement</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Suivez nous</h4>
            	<ul>
                	<li><a href="https://www.facebook.com/KarimInterawi">Facebook</a></li>                	
                	<li><a href="https://www.instagram.com/karim_interawi/">Instagram</a></li>
                    <li><a href="https://twitter.com/KarimGuesmi7">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/karim-guesmi-a6795495/">LinkedIN</a></li>
                    <li><a href="https://www.youtube.com/channel/UCGBWkygnv9HQyFpgHdEpFVQ">Youtube</a></li>
                	<li><a href="https://karimguesmi.blogspot.com/">Blog</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>Inscrivez vous dans notre newsletter afin de recevoir réguliérement nos offres</p>
                
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Vous recherchez ...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                
            </div>
        </div>
    </footer>
    <section style="text-align:center; margin:10px auto;"><p>Designed by <a href="https://karimguesmi.blogspot.com/">Karim GUESMI</a></p></section>

</div>