<h1>Espace Tournois</h1>

<div style="display: flex;">
    <div style="width: 15%;">
        <app-sidenavbar></app-sidenavbar>
    </div>

    <div style="width: 90%; margin-left: 5px; background-color: rgb(235, 226, 226);">
        <div class="container">
            <h3><u>Calendrier des prochains matches</u></h3>
            <table class="table" *ngIf="matches$">
              <thead>
                <tr>
                  <th class="num">#</th>
                  <th class="equipe1">Equipe 1</th>
                  <th class="vide"></th>
                  <th class="vs">Date/Heure/Stade</th>
                  <th class="vide"></th>
                  <th class="equipe2">Equipe 2</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-success" *ngFor="let mch of matches$ |async">
                    <td class="num"></td>
                    <td class="equipe1">{{mch.equipe1}}</td>
                    <td class="vide"><b></b></td>
                    <td class="date">{{mch.date}} <b>/</b> {{mch.heure}} <b>/</b> {{mch.terrain}}</td>
                    <td class="vide"><b></b></td>
                    <td class="equipe2">{{mch.equipe2}}</td>
                </tr>

            </tbody>
          </table>
        </div>
    </div>
</div>