<h1>Espace Tournois</h1>

<div style="display: flex;">
    <div style="width: 15%;">
        <app-sidenavbar></app-sidenavbar>
    </div>

    <div style="width: 90%; margin-left: 5px; background-color: rgb(235, 226, 226);">
        <div class="container">
            <h3><u>Calendrier des prochains matches</u></h3>
            <table class="table">
              <thead>
                <tr>
                  <th class="num">#</th>
                  <th class="equipe1">Equipe 1</th>
                  <th class="vide"></th>
                  <th class="vs">Date/Heure/Stade</th>
                  <th class="vide"></th>
                  <th class="equipe2">Equipe 2</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-success">
                    <td class="num">1</td>
                    <td class="equipe1">Ariana FC</td>
                    <td class="vide"><b></b></td>
                    <td class="date">10/12/2022 / 16:00 / Wembley</td>
                    <td class="vide"><b></b></td>
                    <td class="equipe2">Gammarth Club</td>
                </tr>
                <tr class="table-success">
                    <td class="num">2</td>
                    <td class="equipe1">Bardo FC</td>
                    <td class="vide"><b></b></td>
                    <td class="date">11/12/2022 / 20:00 / Golden Ball</td>
                    <td class="vide"><b></b></td>
                    <td class="equipe2">Goletta United</td>
                </tr>
                <tr class="table-success">
                    <td class="num">3</td>
                    <td class="equipe1">United ITK</td>
                    <td class="vide"><b></b></td>
                    <td class="date">20/12/2022 / 18:00 / Mouihbi</td>
                    <td class="vide"><b></b></td>
                    <td class="equipe2">Mexicanos</td>
                </tr>
                <tr class="table-success">
                    <td class="num">4</td>
                    <td class="equipe1">Kram FC</td>
                    <td class="vide"><b></b></td>
                    <td class="date">15/12/2022 / 22:00 / San Siro</td>
                    <td class="vide"><b></b></td>
                    <td class="equipe2">Mannouba Team</td>
                </tr>
                
            </tbody>
          </table>
        </div>
    </div>
</div>