<h1>Espace Tournois</h1>

<div style="display: flex;">
    <div style="width: 14.2%;">
        <app-sidenavbar></app-sidenavbar>
    </div>

    <div class="body" style="width: 80%; margin-left: 5px;">
        <h2>Bienvenue dans l'espace tournois.</h2>
        <p>
            Cet espace vous permet de gérer le tournoi qui va être organisé par la commité générale des tournois
            amateurs en Tunisie. Vous aurez la possibilité de consulter la liste des participants, résultats 
            en direct, classement des équipes, butteurs et meilleurs passeurs ainsi que le calendrier des
            prochains matches.
        </p>
        <p>
            La gestion du tournois ce fait dans la rubrique gestion des matches, vous y trouverez 4 tableaux
            qui vous permettrons d'ajouter un match, d'ajouter un résultat, ajouter un butteur et le nombre
            des buts qu'il a marqué pendant un match et aussi d'ajouter un passeur et le nombre des passes 
            décisives qu'il a effectué pendant un match de football.
        </p>
    </div>

</div>