<h1>Espace Tournois</h1>

<div style="display: flex;">
    <div style="width: 15%;">
        <app-sidenavbar></app-sidenavbar>
    </div>

    <div style="width: 90%; margin-left: 5px; background-color: rgb(235, 226, 226);">
        <div class="container">
            <h3><u>Classement des meilleurs Butteurs</u></h3>
            <table class="table">
              <thead>
                <tr>
                  <th class="num">#</th>
                  <th class="joueurs">Nom Du Joueur</th>                  
                  <th class="buts">Buts</th>
                  <th class="mp">MP</th>
                </tr>
              </thead>

              <!--Best Soccers table - classement -->
              <tbody>
                <tr class="table-success">
                    <td class="num">1</td>
                    <td class="joueurs">Ahmed Ben Ayed</td>
                    <td class="buts">13</td>
                    <td class="mp">8</td>
                </tr>
                <tr class="table-success">
                    <td class="num">2</td>
                    <td class="joueurs">Karim Guesmi</td>
                    <td class="buts">8</td>
                    <td class="mp">8</td>
                </tr>
                <tr class="table-success">
                    <td class="num">3</td>
                    <td class="joueurs">Nizar Nars</td>
                    <td class="buts">6</td>
                    <td class="mp">8</td>
                </tr>
                <tr class="table-success">
                    <td class="num">4</td>
                    <td class="joueurs">Mourad Tahri</td>
                    <td class="buts">3</td>
                    <td class="mp">8</td>
                </tr>
               
            </tbody>
          </table>
        </div>
    </div>
    
</div>
