<h1>Voici la liste des joueurs</h1>
<!-- I Dont't need this. I prefer that this page is loaged once i click on the list-joueur navbar button option
	<div class="buttonServer">
	<div class="btn-group" role="group" aria-label="Basic example">
		<button (click)="onGetAllPlayers()" type="button" class="btn btn-primary">All</button>
	</div>
	</div>
-->
	
    <table class="table table-striped" *ngIf="joueurs$">
	  <thead>
		<tr>
			<!--Call item 's th from the typescript constructor -->
			<th scope="col" *ngFor="let item of itemsJoueurs">{{item}}</th>
		</tr>
		
		<!--
			-- Previous work with simple th writing columns
		<tr>
		  <th scope="col">Code Joueur</th>
		  <th scope="col">Nom</th>
		  <th scope="col">Prénom</th>
		  <th scope="col">Equipe</th>
		  <th scope="col">Poste</th>
		  <th scope="col">Ville</th>
		  <th scope="col">Action</th>
		</tr>
		-->
	  </thead>
	  <!--Transformation dynamique tu tableau, importation des joueurs et ses données a partir de la db json-->
	  <tbody>
		<tr *ngFor="let joueur of joueurs$ |async">  
            <td>{{ joueur.id}}</td>  
			<td>{{ joueur.equipe }}</td>  
            <td>{{ joueur.nom }}</td>  
            <td>{{ joueur.prenom }}</td>  
            <td>{{ joueur.poste }}</td>  
			<td>{{ joueur.age }}</td>  
			<td>{{ joueur.telephone }}</td>  
			<td>{{ joueur.cite }}</td>  
			<td>{{ joueur.code }}</td>  
            <td>{{ joueur.ville }}</td>  
			<td>{{ joueur.email }}</td>  
			<td>{{ joueur.password }} </td>
			<td>
				<button type="button" class="btn btn-primary mb-2" routerLink="/profil-joueur/{{joueur.id}}">Profil</button> 
				<button type="button" class="btn btn-secondary mb-2" (click)="onSubmitUpdate(joueur.id)">Modifier</button> 
				<button type="button" class="btn btn-danger mb-2" (click)="onDelete(joueur.id)">Supprimer</button>
			</td>
        </tr>  
	  </tbody>
	</table>
<!--

	routerLink="/profil-joueur"
-->