<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
      <div class="card">
        <div class="" style="background-color: #000; height:50px;">
            <h1>Règlement intérieur</h1>
        </div>
        <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <h3>Réglement intérieur du site TAKWIRA</h3><br>
              <p>Le présent Règlement Intérieur a pour objet de définir :<br>
                  - Les principales mesures en matière de sécurité et protection des informations personelles des membres de notre site.<br>
                  - Les règles générales et permanentes relatives à la discipline<br>
                  - Les dispositions relatives aux droits de la défense des joueurs.<br>
                  Le présent Règlement s’applique à l’ensemble des joueurs sans restriction ni réserve. 
              </p>  
              <br><b><u>Article 1</u></b> : DISCIPLINE GENERALE<br>
                <p>Le Personnel du site est en mesure de se trouver à son poste de travail à l’heure fixée pour le début du travail et à celle prévue
                pour la fin de celui-ci afin de répondre à toutes les réclammations des membres du site.<br>
                <b>IL EST INTERDIT : </b> <br>
                  - d’introduire et de diffuser à l’intérieur du site des tracts, des pétitions, de procéder à des
                  affichages non autorisés sous réserve de l’exercice du droit syndical ;<br>
                  - d’utiliser pour son compte personnel les réseaux d’information de l’entreprise (Internet, Minitel) ;
                  - d’introduire dans l’entreprise des marchandises destinées à être vendues pour son compte personnel ;
                  - de se livrer à des collectes, souscriptions sous réserve du droit syndical et sauf autorisation de la
                  Direction ;<br>
                  - de divulguer tous renseignements ayant trait aux opérations commerciales, confidentielles dont le
                  Personnel aurait connaissance dans l’exercice de ses fonctions ; <br>
              </p>
              <br><b><u>Article 2</u></b> : SECURITE<br>
              <p>
                  Le Personnel est tenu d’observer les mesures de sécurité ainsi que les prescriptions de la
                  Médecine du Travail qui résultent de la réglementation en vigueur et des décisions du Comité
                  de Sécurité s’il existe dans le site. <br>
                  <b>IL EST FORMELLEMENT INTERDIT :</b><br>
                  - de détourner le matériel de sécurité de son utilisation normale ou d’en rendre l’accès difficile. 
              </p>
              <br><b><u>Article 3</u></b> : DISPOSITIONS RELATIVES A CERTAINES CATEGORIES DE PERSONNEL<br>
              <p>
                Les membres du personnel concernés par le respect du délais et garantir les réservation des terrains de football aux membres et donc de ce fait en contact
                avec le personnel du terrain, soit par téléphone ou par tchat, doivent prendre connaissance et tenir compte des
                dispositions prévues dans les différents protocoles de sécurité signés tant en amont qu’en aval. 
              </p>
              <br><b><u>Article 4</u></b> : ECHELLE ET NATURE DES SANCTIONS DISCIPLINAIRES<br>
              Constitue une sanction, toute mesure autre que les observations verbales, prise par les administrateurs du site, à la suite
              d’un agissement d’un membre considéré comme fautif.
              Les sanctions susceptibles d’être prises suivant le degré de gravité de la faute sont les suivantes :<br>
              - Avertissement écrit par mail/tchat/sms;
              - Sanction du membre pendant une durée fixé par l'administrateur ;
              - Mutation disciplinaire ;
              - Bloquage du membre temporaire ou définitif pour faute grave
              - Bloquage du membre temporaire ou définitif pour faute lourde. <br>
              <br><b><u>Article 5</u></b> : DROITS DE LA DEFENSE DES Joueurs<br>
              <p>
                  Aucune faute ne peut être invoquée au-delà d’un délai de 2 mois à compter du jour où le site en a eu
                  connaissance, à moins que des poursuites pénales n’aient été exercées dans ce même délai.
                  Aucune sanction antérieure de plus de 3 trois ans à l’engagement des poursuites disciplinaires ne peut
                  être invoquée à l’appui d’une nouvelle sanction.
                  Toute sanction disciplinaire notifiée doit comporter l’énonciation des griefs qui la motive.
                  Toute sanction disciplinaire est précédée d’une convocation du membre di site Takwira. Le membre peut se faire assister
                  d’un autre membre de du site Takwira lors de l’entretien. La sanction ne peut intervenir moins d’un jour franc, ni
                  plus d’un mois après le jour fixé pour l’entretien. <br>
              </p>
              <br><b><u>Article 5</u></b> : RESPECT DE LA DIGNITE DU Joueur<br>
              <p>
                <b>HARCELEMENT SEXUEL</b><br>
                Aucun membre du site Takwira ne peut faire l’objet d’une sanction pour avoir subi ou refusé les agissements de
                harcèlement d’une personne qui, abusant de l’autorité que lui confèrent ses fonctions ou droit à la pratique du sport, a donné des ordres,
                proféré des menaces, et imposé des contraintes ou exercé des pressions de toute nature sur ce membre,
                dans le but d’obtenir des faveurs de nature sexuelle à son profit ou au profit d’un tiers.
                En revanche, est passible d’une sanction disciplinaire, toute personne qui, dans l’exercice de ses
                droits, aura procédé à de tels agissements.<br>
                <b>HARCELEMENT MORAL</b><br>
                Aucun membre ne doit subir des agissements répétés de harcèlement moral qui ont pour objet ou pour effet
                une dégradation des conditions de sport susceptibles de porter atteinte à ses droits et à sa dignité,
                d’altérer sa santé physique ou de compromettre son avenir. Aucun membre ne peut être
                sanctionné, bloqué ou faire l’objet d’une mesure discriminatoire pour avoir subi ou refusé de subir les
                agissements définis ci-dessus ou pour avoir témoigné de tels agissements ou les avoir relatés.
                En, revanche, est passible d’une sanction disciplinaire tout membre qui aura procédé à de tels agissements. 
              </p>
              <br><b><u>Article 6</u></b> : FORMALITES ET DEPOT<br>
                <p>Le présent Règlement a été :<br>
                    - Soumis pour avis aux membres du site Takwira (à défaut aux Délégués du Personnel) ainsi
                    que, pour les matières relevant de sa compétence, au Comité de la Sécurité et des
                    Conditions de la partique du sport lorsqu’il existe dans l'espace réservé aux joueurs ;<br>
                    - Communiqué en deux exemplaires, accompagné de l’avis des représentants du Personnel au responsables de terrain et du site ;<br>
                    - Déposé au Secrétariat du site et du Conseil de ____________ le _________<br>
                    - Affiché dans les locaux de tout les terrains concernés sur le panneau réservé à cet effet le :_________________<br>
                    Il entrera en vigueur soit le ________________ soit un mois plus tard.<br>
                    Un exemplaire est remis à chaque joueur, en particulier lors du match.<br>
                    <br><br>Date : _______________________ Signature du responsable : ______________________ 
                </p>
        </div>
      </div>
      </div>
    </div>
    </div>
  </section>