h1{
    text-align: center;
    font-style: italic;
    background:  rgb(122, 121, 196);
    color: white;
}
h3{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
th{
    text-align: center;
}
.num{
    width: 50px;
    text-align: center;
}
.equipe1{
    width: 200px;
    text-align: center;
}

.equipe2{
    width: 200px;
    text-align: center;
}
.vs{
    width: 50px;
    text-align: center;
}
.butseq1{
    width: 200px;
    text-align: center;
}
.butseq2{
    width: 200px;
    text-align: center;
}

tbody {
    counter-reset: row-num;
  }
  table tr {
    counter-increment: row-num;
  }
  table tr td:first-child::before {
      content: counter(row-num) ". ";
  }