<h1>Espace Tournois</h1>

<div style="display: flex;">
    <div style="width: 15%;">
        <app-sidenavbar></app-sidenavbar>
    </div>

    <div style="width: 90%; margin-left: 5px; background-color: rgb(235, 226, 226);">
        <div class="container">
            <h3><u>Les Résultats de tout les matches disputés</u></h3>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Equipe 1</th>
                  <th></th>
                  <th>Score</th>
                  <th></th>
                  <th>Equipe 2</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-success">
                    <td class="num">1</td>
                    <td class="equipe1">Ariana FC</td>
                    <td class="butseq1"><b>1</b></td>
                    <td class="vs">VS</td>
                    <td class="butseq2"><b>4</b></td>
                    <td class="equipe2">Gammarth Club</td>
                </tr>
                <tr class="table-success">
                    <td class="num">2</td>
                    <td class="equipe1">Bardo</td>
                    <td class="butseq1"><b>1</b></td>
                    <td class="vs">VS</td>
                    <td class="butseq2"><b>0</b></td>
                    <td class="equipe2">Goletta Team</td>
                </tr>
                <tr class="table-success">
                    <td class="num">3</td>
                    <td class="equipe1">Kram United</td>
                    <td class="butseq1"><b>4</b></td>
                    <td class="vs">VS</td>
                    <td class="butseq2"><b>0</b></td>
                    <td class="equipe2">Mexicanos</td>
                </tr>
                <tr class="table-success">
                    <td class="num">4</td>
                    <td class="equipe1">Sukra Team FC</td>
                    <td class="butseq1"><b>7</b></td>
                    <td class="vs">VS</td>
                    <td class="butseq2"><b>2</b></td>
                    <td class="equipe2">United ITK</td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>