<div class="container">  
    
    <h1 style="text-align: center;"> Affichage d'un tableau de joueurs </h1>  
      
    <table class="table table-striped">  
      <thead>  
          <tr>  
            <th>code</th>  
            <th>nom</th>  
            <th>prenom</th>  
            <th>equipe</th>  
            <th>poste</th> 
            <th>ville</th> 
          </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let joueur of joueurs">  
          <td>{{ joueur.code}}</td>  
          <td>{{ joueur.nom }}</td>  
          <td>{{ joueur.prenom }}</td>  
          <td>{{ joueur.equipe }}</td>  
          <td>{{ joueur.poste }}</td>  
          <td>{{ joueur.ville }}</td>  
        </tr>  
      </tbody>  
    </table>  
  </div>  
  