<div class="container" *ngIf="joueurFormGroup">
  
  <form [formGroup]="joueurFormGroup">
     
    <div class="form-group">
      <label>ID</label>
    </div>

      <div class="form-group">
        <label>nom</label>
        <input type="text" class="form-control" formControlName="nom">
      </div>

      <div class="form-group">
        <label>prenom</label>
        <input type="text" class="form-control" formControlName="prenom">
      </div>

      <div class="form-group">
        <label>equipe</label>
        <input type="text" class="form-control" formControlName="equipe">
      </div>

      <div class="form-group">
        <label>poste</label>
        <input type="text" class="form-control" formControlName="poste">
      </div>

      <div class="form-group">
        <label>ville</label>
        <input type="text" class="form-control"formControlName="ville">
      </div>

      <button class="btn btn-success" (click)="onSaveJoueur()">Ajouter Joueur</button>
      <button class="btn btn-danger" style="background-color: red;">
        <span class="fa fa-trash-o"></span>
      </button>
  </form>
</div>