<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-3 h-10">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="{{image}}"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Takwira</h4>
                </div>

                 <!-- Sign In Form -->
                 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <p>Veuillez saisir vos coordonnées</p>

                  <div class="form-outline mb-4">
                    <input type="email" class="form-control" id="floatingInput" 
                    placeholder="name@example.com" formControlName="email" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="inputEmail4">

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Adresse mail est nécessaire</div>
                      <div *ngIf="f.email.errors.email">L'adresse email ne respecte pas les normes.<br>Exemple@exemple.com</div>
                   </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" class="form-control" id="floatingPassword" 
                    placeholder="Password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword4">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Un mot de passe est nécessaire</div>
                   </div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button  type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"  style="width: 100%;">
                      Se connecter
                    </button>
                    <div>
                      <a class="text-muted" href="#!">Mot de passe oublié ?</a>
                    </div>
                    
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Vous n'êtes pas inscrit ?</p>
                    <button  type="submit" class="btn btn-outline-danger" routerLink="/inscription">
                      Créer Compte
                    </button>
                  </div>

                </form>
                 <!-- END Sign In Form -->

              </div>
            </div>
			
			
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <img src="{{buffon}}">
                <p class="small mb-0"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>