
	<h5><u>Modification d'un Joueur</u></h5>
	<form [formGroup]="formUpdate">
		<div class="row g-3 align-items-center">
			<div class="col-auto">
				<input type="text" id="id" class="form-control" placeholder="id" formControlName="id">
			</div>
			<div class="col-auto">
				<input type="text" id="equipe" class="form-control" placeholder="equipe" formControlName="equipe">
			</div>
			<div class="col-auto">
				<input type="text" id="nom" class="form-control" placeholder="nom" formControlName="nom">
			</div>
			<div class="col-auto">
				<input type="text" id="prenom" class="form-control" placeholder="prenom" formControlName="prenom">
			</div>
			<div class="col-auto">
				<input type="text" id="poste" class="form-control" placeholder="poste" formControlName="poste">
			</div>
			<div class="col-auto">
				<input type="text" id="age" class="form-control" placeholder="age" formControlName="age">
			</div>
			<div class="col-auto">
				<input type="text" id="telephone" class="form-control" placeholder="telephone" formControlName="telephone">
			</div>
			<div class="col-auto">
				<input type="text" id="cite" class="form-control" placeholder="cite" formControlName="cite">
			</div>
			<div class="col-auto">
				<input type="text" id="code" class="form-control" placeholder="code" formControlName="code">
			</div>
			<div class="col-auto">
				<input type="text" id="ville" class="form-control" placeholder="ville" formControlName="ville">
			</div>
			<div class="col-auto">
				<input type="text" id="email" class="form-control" placeholder="email" formControlName="email">
			</div>		
			<div class="col-auto">
				<input type="text" id="password" class="form-control" placeholder="password" formControlName="password">
			</div>
			<button type="submit" class="btn btn-primary" 
            (click)="onSubmitUpdate(id)"
            style="width: 300px;margin-left: 39%;">Confirmer</button>
		</div>
	</form>