<h1>Voici la liste des Terrains</h1>
<br><br>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let item of itemsTerrains">{{item}}</th>
      </tr>
    </thead>
    <tbody>
        <!-- Remplissage dynamique de la liste des terrains a partir de la DB json-->
        <tr *ngFor="let terrain of terrains">  
            <td>{{ terrain.code}}</td>  
            <td>{{ terrain.nom }}</td>  
            <td>{{ terrain.responsable }}</td>  
            <td>{{ terrain.telephone }}</td>  
            <td>{{ terrain.cite }}</td>  
            <td>{{ terrain.ville }}</td>  
            <td><button type="button" class="btn btn-primary mb-2" routerLink="/carte-terrain">Consulter</button></td>   
          </tr> 

        <!--
            -- Remplissage statique de tout les terrains
            <tr>
                <td *ngFor="let terrain of terrain1">{{terrain}}</td>
                <td><button type="button" class="btn btn-primary mb-2">Consulter</button></td>   
            </tr>
            <tr>
                <td *ngFor="let terrain of terrain2">{{terrain}}</td>
                <td><button type="button" class="btn btn-primary mb-2">Consulter</button></td>   
            </tr>
            <tr>
                <td *ngFor="let terrain of terrain3">{{terrain}}</td>
                <td><button type="button" class="btn btn-primary mb-2" routerLink="/carte-terrain">Consulter</button></td>   
            </tr>
            <tr>
                <td *ngFor="let terrain of terrain4">{{terrain}}</td>
                <td><button type="button" class="btn btn-primary mb-2">Consulter</button></td>   
            </tr>
            <tr>
                <td *ngFor="let terrain of terrain5">{{terrain}}</td>
                <td><button type="button" class="btn btn-primary mb-2">Consulter</button></td>   
            </tr>
            <tr>
                <td *ngFor="let terrain of terrain6">{{terrain}}</td>
                <td><button type="button" class="btn btn-primary mb-2">Consulter</button></td>   
            </tr>
            <tr>
                <td *ngFor="let terrain of terrain7">{{terrain}}</td>
                <td><button type="button" class="btn btn-primary mb-2">Consulter</button></td>   
            </tr>
        -->
    </tbody>
    
  </table>
  