h1{
    text-align: center;
    font-style: italic;
    background:  rgb(122, 121, 196);
    color: white;
}
td{
    text-align: center;
}
th{
    text-align: center;
    color: white;
    background-color: rgb(122, 121, 196);
}

.buttonServer{
    margin-left: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
table{
    margin-top: 30px;
}
button{
    margin-left: 10px;
}