<h1>Bienvenue dans notre site de réservation</h1>

<div class="body">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>

    <!--Start carousel images-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{imgHome}}" class="d-block w-50" alt="image">
        <div class="carousel-caption d-none d-md-block">
          <h5>Takwira</h5>
          <p>Nous vous souhaitons les Bienvenue dans notre site de réservation.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{{carousel2}}" class="d-block w-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Réservervation simple</h5>
          <p>Réserver votre match de football en quelques minutes.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{{carousel3}}" class="d-block w-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Planning en ligne</h5>
          <p>Vous pouvez consulter le planning général de tout les terrains disponibles dans votre zone.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{{carousel4}}" class="d-block w-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Consultation des terrains et joueurs</h5>
          <p>Vous pouvez consulter la liste de tout les terrains de football ainsi que la liste <br>des joueurs membres de notre site.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{{carousel5}}" class="d-block w-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Espace tournois</h5>
          <p>Vous avez la possibilité de vous inscrire dans un tournois avec la liste<br> de tout les joueurs de votre équipe.</p>
        </div>
      </div>
      
      <div class="carousel-item">
        <img src="{{carousel6}}" class="d-block w-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Inscription gratuite</h5>
          <p>Inscrivez vous gratuitement afin de devenir membre de notre site.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{{carousel7}}" class="d-block w-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Consultation des profils</h5>
          <p>Vous pouvez consulter les profils de tout les joueurs et les terrains<br> avec toutes les informations fournies.</p>
        </div>
      </div>

    </div>

    <!--End Carousel slides-->


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<!--Card Group-->

  <div class="card-group">
    <div class="card">
      <img src="{{card1}}" class="card-img-top" alt="ballon foot">
      <div class="card-body">
        <h5 class="card-title">Conditions favorables</h5>
        <p class="card-text">Nous vous garantissons des conditions favorables lors de déroulement de votre match de football.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="{{card2}}" class="card-img-top" alt="book now">
      <div class="card-body">
        <h5 class="card-title">Réservation facile</h5>
        <p class="card-text">Nous vous garantissons la rapidité, simplicité et confidentialité durant la phase de réservation de votre match de football.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="{{card3}}" class="card-img-top" alt="coupe tournois">
      <div class="card-body">
        <h5 class="card-title">Compétitions</h5>
        <p class="card-text">Vivez la compétition que vous rêvez d'y participer et nous occupons de l'organisation.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>



 <div class="card-group">
    <div class="card">
      <img src="{{card4}}" class="card-img-top" alt="ballon foot">
      <div class="card-body">
        <h5 class="card-title">Inscription gratuite</h5>
        <p class="card-text">Inscrivez vous en seulement quelques clics afin d'avoir l'accés à notre plateforme de réservation.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="{{card5}}" class="card-img-top" alt="book now">
      <div class="card-body">
        <h5 class="card-title">Liste des terrains</h5>
        <p class="card-text">Vous pouvez consulter la liste de tout les terrains disponibles dans la zone de votre choix.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="{{card6}}" class="card-img-top" alt="coupe tournois">
      <div class="card-body">
        <h5 class="card-title">Liste des joueurs</h5>
        <p class="card-text">Vous avez la possibilité de consulter la liste de tout les joueurs membres de notre site afin de fasciliter le contact entre nos membres et recevoir des invitations aux matches de football.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

<!--
    <img src="{{image}}" />
<iframe width="560" height="315" src="https://www.youtube.com/embed/GqtlrXnMmug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->