<section class="h-100 gradient-custom-2">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">        
                <div class="card-body p-4 text-black">
                    <div class="mb-5">
                        <h2>Nous Contacter</h2>
                            <br>
                        <div class="p-4" style="background-color: #f8f9fa; ">
                            <div class="informations">
                                <div><b><u>Nom Et Prénom : </u></b>Karim GUESMI</div>                                
                                <div><b><u>Téléphone : </u></b>+216 25 677 116</div>
                                <div><b><u>Email : </u></b>k.karim.guesmi@gmail.com</div>
                                <div><b><u>Adresse : </u></b>La Marsa, Tunis</div>
                                <div><b><u>Portfolio : </u></b>https://karimguesmi.blogspot.com/</div>
                                <div><b><u>Facebook : </u></b>https://www.facebook.com/KarimInterawi</div>
                                <div><b><u>Instagram : </u></b>https://www.instagram.com/karim_interaw</div>
                            </div>
                            
                            <div class="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10427.423104926502!2d10.312985204068394!3d36.89199823832602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stn!4v1668853084475!5m2!1sfr!2stn" 
                                    width="100%" height="450" style="border:1px solid;" 
                                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </div>

                            <div class="container">
                                <div style="text-align:center">
                                  <h2>Envoyez nous un message</h2>
                                </div>
                                <div class="row">
                                  
                                  <div class="column">
                                    <form action="/action_page.php">
                                      <label for="fname">First Name</label>
                                      <input type="text" id="fname" name="firstname" placeholder="Votre nom">
                                      <br>
                                      <label for="lname">Last Name</label>
                                      <input type="text" id="lname" name="lastname" placeholder="Votre prénom">
                                      <br>
                                      <label for="phone">Téléphone</label>
                                      <input type="text" id="phne" name="phone" placeholder="Votre téléphone">
                                      <br>
                                      <label for="email">Adresse Email</label>
                                      <input type="text" id="email" name="email" placeholder="Votre Email">
                                      <br>
                                      <label for="country">Equipe</label>
                                      <select id="country" name="country">
                                        <option value=""></option>
                                        <option value="">Ariana United</option>
                                        <option value="">Mexicanos</option>
                                        <option value="">Marsa Team</option>
                                        <option value="">Bardo FC</option>
                                        <option value="">Gamarth AC</option>
                                        <option value="">Goletta United</option>
                                        <option value="">Manouba Sport ITB</option>
                                        <option value="">United team</option>
                                      </select>
                                      <br>
                                      <label for="subject">Sujet</label>
                                      <textarea id="subject" name="subject" placeholder="Ecrivez quelque chose.." style="height:170px"></textarea>
                                      <input type="submit" value="Envoyer">
                                    </form>
                                  </div>
                                  
                                </div>
                              </div>


                       </div>          
                    </div>
                </div>
            </div>
        </div>
     
</section>