<h1>Espace Tournois</h1>

<div style="display: flex;">
    <div style="width: 15%;">
        <app-sidenavbar></app-sidenavbar>
    </div>

    <div style="width: 90%; margin-left: 5px; background-color: rgb(235, 226, 226);">
        <div class="container">
            <h3><u>Le classement du tournois</u></h3>
            <table class="table" *ngIf="classement$">
              <thead>
                <tr>
                  <th class="num">#</th>
                  <th class="equipes">Equipes</th>                  
                  <th class="buts">Buts</th>
                  <th class="mp">MP</th>
                  <th class="v">V</th>
                  <th class="n">N</th>
                  <th class="d">D</th>
                  <th class="pts">Pts</th>
                </tr>
              </thead>

              <!--Teams table - classement -->
              <tbody>
                <tr class="table-success" *ngFor="let cls of classement$ |async" >
                    <td class="num"></td>
                    <td class="equipes">{{ cls.equipe }}</td>
                    <td class="buts">{{ cls.buts }}</td>
                    <td class="mp">{{ cls.mp }}</td>
                    <td class="v">{{ cls.v }}</td>
                    <td class="n">{{ cls.n }}</td>
                    <td class="d">{{ cls.d }}</td>
                    <td class="pts">{{ cls.pts }}</td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>

</div>