<h1>Espace Tournois</h1>

<div style="display: flex;">
    <div style="width: 15%;">
        <app-sidenavbar></app-sidenavbar>
    </div>

    <div style="width: 90%; margin-left: 5px; background-color: rgb(235, 226, 226);">
        <div class="container">
            <h3><u>Le classement du tournois</u></h3>
            <table class="table">
              <thead>
                <tr>
                  <th class="num">#</th>
                  <th class="equipes">Equipes</th>                  
                  <th class="buts">Buts</th>
                  <th class="mp">MP</th>
                  <th class="v">V</th>
                  <th class="n">N</th>
                  <th class="d">D</th>
                  <th class="pts">Pts</th>
                </tr>
              </thead>

              <!--Teams table - classement -->
              <tbody>
                <tr class="table-success">
                    <td class="num">1</td>
                    <td class="equipes">Ariana United</td>
                    <td class="buts">21</td>
                    <td class="mp">8</td>
                    <td class="v">4</td>
                    <td class="n">2</td>
                    <td class="d">2</td>
                    <td class="pts">18</td>
                </tr>
                <tr class="table-success">
                    <td class="num">2</td>
                    <td class="equipes">Bardo FC</td>
                    <td class="buts">33</td>
                    <td class="mp">8</td>
                    <td class="v">2</td>
                    <td class="n">4</td>
                    <td class="d">2</td>
                    <td class="pts">10</td>
                </tr>
                <tr class="table-success">
                    <td class="num">3</td>
                    <td class="equipes">Marsa FC</td>
                    <td class="buts">12</td>
                    <td class="mp">8</td>
                    <td class="v">2</td>
                    <td class="n">3</td>
                    <td class="d">3</td>
                    <td class="pts">9</td>
                </tr>
                <tr class="table-success">
                    <td class="num">4</td>
                    <td class="equipes">United ITK</td>
                    <td class="buts">14</td>
                    <td class="mp">8</td>
                    <td class="v">1</td>
                    <td class="n">5</td>
                    <td class="d">2</td>
                    <td class="pts">8</td>
                </tr>
                <tr class="table-success">
                    <td class="num">5</td>
                    <td class="equipes">Manouba Team</td>
                    <td class="buts">9</td>
                    <td class="mp">8</td>
                    <td class="v">1</td>
                    <td class="n">4</td>
                    <td class="d">3</td>
                    <td class="pts">7</td>
                </tr>
                <tr class="table-success">
                    <td class="num">6</td>
                    <td class="equipes">Mexicanos</td>
                    <td class="buts">7</td>
                    <td class="mp">8</td>
                    <td class="v">1</td>
                    <td class="n">2</td>
                    <td class="d">6</td>
                    <td class="pts">5</td>
                </tr>
               
            </tbody>
          </table>
        </div>
    </div>

</div>